
.img_container {
  display: flex;
  position: relative;
  height: 500px;
  background-image: url('../../assets/banner/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
}


.banner_details{
    display: flex;
    flex-direction: column;
    width: 55%;
    position: absolute;
    font-size: clamp(14px,2.4vw,30px);
    padding: 20px;
    margin-top: 10px;
}
.banner_h1{
    font-family: 'Dancing Script', cursive;
    color: white;
    margin-bottom: 10px;
    
}
.banner_p{
    font-size: 16px;
    color: white;
    margin-bottom: 5px;
}
.banner_button{
    background-color: rgb(255, 153, 0);
    border-radius: 20px;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
}

.slider_dot_main{
    display: flex;
    height: 30px;
    width: 65px;
    align-items: center;
    justify-content: space-between;
    
}
.slider_height{
    display:flex;
    flex-direction: column;
    justify-content: end;
    height: 100px;
}
.slider_dot1{
    width: 25px;
    height: 25px;
    background-color:  rgb(255, 153, 0);
    border-radius: 50%;
}
.slider_dot2, .slider_dot3{
    width: 15px;
    height: 15px;
    background-color:  rgb(255, 255, 255);
    border-radius: 50%;
}
@media screen  and (max-width:576px) {
    .img_container{
        padding: 10px;
    }
    .banner_details{
    display: flex;
    flex-direction: column;
    width: 80%;
    position: absolute;
    font-size: clamp(14px,2.4vw,30px);
    padding: 20px;
    margin-top: 10px;
}
    
}
